<div class="banner" style="background-image: url(<%= asset_path('banner_image.jpg') %>);">
  <div class="container">
    <h1 class="mb-3">Rent your city and become a mayor right now!</h1>
    <p class="mb-3">Your city, your choice, you decide.</p>
    <%= link_to "Discover our cities", cities_path, class: "btn btn-flat mt-3" %>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2 class="text-left">Recently added</h2>
</div>

<div class="container mb-5">
  <div class="cards">
    <% @cities[-3..-1].each do |city| %>
        <%= link_to city_path(city), class:'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= city.photos.attached? ? cl_image_path(city.photos.first.key) : asset_path('city_background.jpg') %>)">
            <%= city.name.upcase %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2 class="text-left">They chosed Rent A City</h2>
</div>

<div class="container mt-5 mb-5 d-flex customers">
    <%= image_tag("https://avatars.githubusercontent.com/u/414418?v=4", class: "avatar-large") %>
    <div class="citation-right">
      <i class="fas fa-quote-left mr-2 mb-2"></i><h4>I was honored to become the mayor of Paris for a month in 2021. That was indeed a tremendous exprerience.</h4>
    </div>
</div>
<div class="container mt-5 mb-5 d-flex customers">
    <div class="citation-left">
      <i class="fas fa-quote-left mr-2 mb-2"></i><h4> I didn't have a choice since Paris has already been taken by Seb, so I decide to become the mayor of Bizeneuille. Rent a city is a fantastic solution.</h4>
    </div>
      <%= image_tag("https://media-exp1.licdn.com/dms/image/C4E03AQEfSGDe5SR0vQ/profile-displayphoto-shrink_200_200/0/1525092669872?e=1626912000&v=beta&t=IOtIIrZaRbCSI7i21Y-CjoJsuN__0is6wOfCqUQ_o0Q", class: "avatar-large") %>
</div>

<div class="banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610819610413-3e42356fc150?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container banner-end">
    <h1>Wanna discover all the cities for rent?</h1>
    <%= link_to "Discover our cities", cities_path, class:"btn btn-flat mt-5" %>
  </div>
</div>
