<h1>Edit your city</h1>

<%= simple_form_for @city do |f| %>
  <%= f.input :name %>
  <%= f.input :country, as: :string  %>
  <%= f.input :price %>
  <%= f.input :main_monument %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
