<h1>Create a new city</h1>

<div class="container mt-3 form-city" >
  <%= simple_form_for @city do |f| %>
    <%= f.input :name %>
    <%= f.input :country, as: :string  %>
    <%= f.input :price %>
    <%= f.input :main_monument %>
    <div class="d-flex justify-content-between">
      <%= f.submit %>
      <%= link_to "Back", cities_path, class: "btn-back" %>
    </div>
  <% end %>
</div>


