<div class="container d-flex justify-content-center">
  <div class="card-product-show col-8">
    <div class="d-flex justify-content-center align-items-baseline">
      <h1 class="text-center mt-4 pr-5 heading"><%= @city.name %></h1>
      <% if policy(@city).edit? %>
          <%= link_to "Edit", edit_city_path, class:"btn-flat" %>
          <%= link_to "Delete",
                    city_path,
                    method: :delete,
                    class: "btn-flat-clair ml-4",
                    data: { confirm: "Are you sure to delete this city?" } %>
      <% end %>
    </div>

    <div class ="photo-product-size mt-4 pr-5">
      <%= @city.photos.attached? ? cl_image_tag(@city.photos.first.key) : image_tag('city_background.jpg') %>
    </div>
    <div class="mt-4 pr-5">
      <p><i class="far fa-flag"></i><strong> Country: </strong><%= @city.country %>  |  <i class="fas fa-landmark"></i><strong> Main monument: </strong><%= @city.main_monument %>  |  <i class="fas fa-euro-sign"></i><strong> Price per day: </strong><%= @city.price %>€</p>
    </div>
  </div>

  <% unless policy(@city).edit? %>
    <div class="booking-calendar col-4 sticky-top">
      <h3 class="heading">Wanna book this city?</h3>
      <div class="form-wrapper">
        <%= simple_form_for [ @city, @booking ] do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Book now", class: "btn-flat" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class = "review_box">
<div>
  <ul class ="display-reviews">
    <% @reviews.each do |review| %>
      <li><%= "#{review.user.first_name} #{review.user.last_name}" %></li>
      <li><%= review.content %></li>
      <li><%= review.rating %></li>
    <% end %>
  </ul>

  <% if policy(@city).add_review? %>
    <div class="form-review">
      <div class ="user_interested">Add a review</div>
        <%= simple_form_for [@city, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <div class="form-actions">
            <%= f.button :submit, "Submit review", class: "btn btn-flat mt-3" %>
            <%= link_to "Back", dashboard_path, class: "btn btn-outline-primary mt-3" %>
          </div>
        <% end %>
      </div>
  <% end %>
  </div>
</div>



